<p-toast [style]="{'top': '80px'}" position="bottom-left" key="deleted"></p-toast>


<div class="homepage-container">
    <div class="container">
        <div class="header">
            <h1 style="letter-spacing: 4px;">⊹ ˚₊⋆ Happy {{dayOfTheWeek | date: 'EEEE'}}, &#64;{{username}}! ⋆₊˚ ⊹ </h1>
            <!-- <p>What would you like to do today?</p> -->
        </div>
    </div>
    <div class="content-container">
        <div>
            <h1><span class="title-nugget">Review Uploaded Docs</span> <span><p-button [style]="{'float': 'right'}" [rounded]="true" [outlined]="true" icon="pi pi-plus" [routerLink]="['/quiz']" [queryParams]="{type: 'contextBased'}"></p-button></span></h1>
            <br>
            <div class="review-container" *ngIf="docs$ | async as docs">
                <p-dataView #dv [value]="docs" [paginator]="true" [rows]="3" filterBy="name" layout="list" emptyMessage="No Documents Uploaded Yet!" [style]="{borderRadius: '15px'}">
        
                    <ng-template let-docs pTemplate="list" [style]="{'border-radius': '15px'}">
                        <div class="p-col-12 p-md-4">
                            <div *ngFor="let d of docs; let j = index">
                                <p-card [style]="{'padding': '0 10px'}">
                                    <h2 >{{d.title}}</h2>
                                    <p>Text preview:</p>
                                    <!-- <p>{{d.extractedText | slice:0:575 }} . . .</p> -->
                                    <p-scrollPanel [style]="{'height': '15vh', 'background-color': '#525269', 'padding': '10px'}" styleClass="custombar1">
                                        <p>{{d.extractedText}}</p>
                                    </p-scrollPanel>
                                    <br>
                                    <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
                                        <button pButton icon="pi pi-folder-open" class="md:align-self-end mb-2 p-button-rounded quiz-btns" size="small" label="View Quizzes" (click)="getQuizzes(d.S3Id)"></button>

                                        <button pButton icon="pi pi-delete-left"
                                        class="md:align-self-end m-2 p-button-rounded quiz-btns" size="small"
                                        label="Delete" (click)="deleteDocument(d.S3Id)" [style]="{'float': 'right'}"></button>
                                    </div>
                                    
                                </p-card>
                            <p-divider [style]="{'margin': '0'}" *ngIf="j+1 != docs.length"></p-divider>

                            </div>
                        </div>
                    </ng-template>
                </p-dataView>
            </div>
        </div>

    </div>
    <br>
    <br>
    <br>
    <div class="content-container">
        <h1> <span class="title-nugget">Review Topic-generated quizzes</span> <span><p-button [style]="{'float': 'right'}" [rounded]="true" [outlined]="true" icon="pi pi-plus" [routerLink]="['/quiz']" [queryParams]="{type: 'topicBased'}"></p-button></span></h1>
        <br>
        <div class="review-container" *ngIf="topicQuizzes$ | async as topicQuizzes">
            <p-dataView #dv [value]="topicQuizzes" [paginator]="true" [rows]="5" layout="list" emptyMessage="No Documents Uploaded Yet!">
    
                <ng-template let-topicQuizzes pTemplate="list">
                    <div class="p-col-12 p-md-4">
                        <div *ngFor="let t of topicQuizzes; let j = index">
                            <p-card [style]="{'padding': '0 10px'}">
                                <h2>{{t.quizTitle}}</h2>
                                <p>Generated from the topic:<span class="info-nugget">{{t.topic}}</span></p>
                                <p>Difficulty : <span class="info-nugget">{{t.difficulty}}</span></p>
                                <p>Language : <span class="info-nugget">{{t.language}}</span></p>
                                <br>
                                <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
                                    <button pButton icon="pi pi-folder-open" class="md:align-self-end mb-2 p-button-rounded quiz-btns" size="small" label="View Attempts" [routerLink]="['/quiz', t.quizId, 'attempts']"></button>

                                    <button [style]="{'float': 'right'}" pButton icon="pi pi-delete-left"
                                        class="md:align-self-end m-2 p-button-rounded quiz-btns" size="small"
                                        label="Delete" (click)="deleteQuiz(t.quizId)"></button>
                                </div>
                            </p-card>
                            <p-divider [style]="{'margin': '0'}" *ngIf="j+1 != topicQuizzes.length"></p-divider>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>
        </div>
    </div>

</div>

