<div *ngIf="registrationError" class="register-error">
    <p-messages [(value)]="failureMsg" [enableService]="false" [closable]="false"></p-messages>
</div>
<div class="register-container">
    <div>
        <p-card header=". 𖥔 ݁ ˖ Sign up here! ݁ .𖥔 ݁ ˖" [style]="{ 'font-family': 'Lemonmilk', 'letter-spacing': '5px' }">
            <form [formGroup]="registerForm" (submit)="onSubmitRegister()">
                <!-- <br> -->
                <div>
                    <label for="username">Username</label>
                </div>
                <br>
                <div>
                    <input pInputText id="username" type="text" placeholder="Enter a username" formControlName="username">
                    <small *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.dirty" id="username-help"
                        class="p-error">Username is required</small>
                </div>
                <br>
                <div>
                    <label for="firstname">First Name</label>
                </div>
                <br>
                <div>
                    <input pInputText id="firstname" type="text" placeholder="Enter Your First Name" formControlName="firstname">
                    <small *ngIf="registerForm.get('firstname')?.invalid && registerForm.get('firstname')?.dirty" id="username-help"
                        class="p-error">First Name is required</small>
                </div>
                <br>
                <div>
                    <label for="lastname">Last Name</label>
                </div>
                <br>
                <div>
                    <input pInputText id="lastname" type="text" placeholder="Enter Your Last Name" formControlName="lastname">
                    <small *ngIf="registerForm.get('lastname')?.invalid && registerForm.get('lastname')?.dirty" id="username-help"
                        class="p-error">Last Name is required</small>
                </div>
                <br>
                <div>
                    <label for="email">Email</label>
                </div>
                <br>
                <div>
                    <input pInputText id="email" type="text" placeholder="Enter Your Email" formControlName="email">
                    <small *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.dirty" id="username-help"
                        class="p-error">Email is invalid</small>
                </div>
                <br>
                <div>
                    <label for="password">Password</label>
                </div>
                <br>
                <div>
                    <input pInputText id="password" type="password" placeholder="Set Your Password" formControlName="password">
                    <small *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.dirty" id="username-help"
                        class="p-error">Password is required</small>
                </div>
                <!-- <br>
                    <div>
                        <label for="confirmPassword">Confirm Password</label>
                    </div>
                    <br>
                    <div>
                        <input pInputText id="confirmPassword" type="text" formControlName="confirmPassword">
                    </div> -->
                <br>
                <!-- <br> -->
                <div>
                    <p-button label="Go Back" icon="pi pi-times" styleClass="p-button-secondary"
                        [routerLink]="['/']"></p-button>
                    <button [disabled]="registerForm.invalid" [style]="{'float': 'right'}" pButton icon="pi pi-id-card" type="submit" label="Sign Up"></button>
                </div>
            </form>
        </p-card>
    </div>
    <div class="animation-png">
        <img width="420vw" style="margin-left: 30px;" src="/assets/images/landing-page-animation-crop.png" alt="">
    </div>
</div>