.questions-container {
    margin-top: 35px;
    padding-bottom: 35px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0;
}

.align-items-center {
    display: flex;
}

/* LOADING BAR */
::ng-deep .p-progressbar {
    width: 60%;
    margin: auto;
    margin-top: 38vh;
}

.loading {
    display: flex;
    justify-content: center;
    margin-top: 14px;
}

.loading-words {
    letter-spacing: 3px;;
}

.topic-generate-card {
    width: 50vw;
}