::ng-deep .p-message .p-message-close {
    border: none;
}

:host ::ng-deep .p-toolbar {
    position: sticky;
    position: -webkit-sticky;
    z-index: 2; 
    top: 0; 
}

.delete-notif {
    position: sticky;
    position: -webkit-sticky;
    z-index: 2; 
    top: 80px; 
}

::ng-deep .p-toast .p-toast-icon-close {
    border: none;
}


