<div class="container">
    <form [formGroup]="loginForm">
        <p-card header="Login" [style]="{ width: '360px' }">
            <div>
                <label for="username">Username</label>
            </div>
            <div>
                <input pInputText type="text" name="username" class="w-full" placeholder="Enter Username" formControlName="username">
            </div>
            <div>
                <p-floatLabel>
                    <input id="username" type="text" pInputText formControlName="username">
                    <label for="username">Username</label>
                </p-floatLabel>
            </div>
        </p-card>
    </form>
</div>

<div>
    <div class="card flex justify-content-center">
        <p-floatLabel>
            <p-input id="username" type="text" pInputText [(ngModel)]="value" />
            <label for="username">Username</label>
        </p-floatLabel>
    </div>
</div>

<span class="p-float-label">
    <textarea pInputTextArea id="float-input" rows="5" cols="30" pInputTextarea></textarea>
    <label for="float-input">Summary</label>
</span>