

.login-container {
    display: flex;
    margin-top: 17vh;
    /* padding-bottom: 35px; */
    justify-content: center; 
    align-items: center;
    overflow-y: hidden;
}

input {
    width: 100%;
}

.login-error {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0;
}

::ng-deep .p-card-title {
    font-family: 'Lemonmilk';
    letter-spacing: 3px;
}
