

    <div *ngIf="loginError" class="login-error">
        <p-messages [(value)]="failureMsg" [enableService]="false" [closable]="false"></p-messages>
    </div>
    <div class="login-container">
        <div class="animation-png">
            <img width="400vw" style="margin-right: 12px;" src="/assets/images/landing-page-animation-crop.png" alt="">
        </div>
        <div style="margin-right: 4vw;">
            <p-card header=".𖥔 ݁ ˖ Welcome Back! .𖥔 ݁ ˖">
                <form [formGroup]="loginForm" (submit)="onSubmitLogin()">
                    <br>
                    <div>
                        <label for="username">Username</label>
                    </div>
                    <br>
                    <div>
                        <input pInputText type="text" name="username" placeholder="Enter Username"
                            formControlName="username">
                        <small *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.dirty"
                            id="username-help" class="p-error">Username is required</small>
                    </div>
                    <br>
                    <div>
                        <label for="password">Password</label>
                    </div>
                    <br>
                    <div>
                        <input pInputText type="password" name="password" placeholder="Enter Password"
                            formControlName="password">
                        <small *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.dirty"
                            id="username-help" class="p-error">Password is required</small>
                    </div>
                    <br>
                    <br>

                    <p-button label="Go Back" icon="pi pi-times" styleClass="p-button-secondary"
                        [routerLink]="['/']"></p-button>
                    <button [disabled]="loginForm.invalid" pButton [style]="{'float': 'right'}" type="submit"
                        label="Login" icon="pi pi-sign-in"></button>
                </form>
            </p-card>
            
        </div>
        
    </div>

