<div class="login-container">
    <div class="container">
        <p-card header="Login" [style]="{ width: '360px' }">
            <form [formGroup]="loginForm" (submit)="onSubmitLogin()">
                <div>
                    <label for="username">Username</label>
                </div>
                <br>
                <div>
                    <input pInputText type="text" name="username" placeholder="Enter Username"
                        formControlName="username">
                </div>
                <br>
                <div>
                    <label for="username">Password</label>
                </div>
                <br>
                <div>
                    <input pInputText type="text" name="password" placeholder="Enter Password"
                        formControlName="password">
                </div>
                <br>
                <br>
                <p-button type="submit" label="Login" icon="pi pi-sign-in"></p-button>
                <p-button label="Go Back" icon="pi pi-times" styleClass="p-button-secondary"
                    [style]="{ 'margin-left': '.5em' }"></p-button>
            </form>
        </p-card>

    </div>
</div>
