.questions-container {
    margin-top: 35px;
    padding-bottom: 35px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0;
}

.align-items-center {
    display: flex;
}

/* ::ng-deep .progress-container {
    display: flex;
    justify-content: center;
} */

/* LOADING BAR */
::ng-deep .p-progressbar {
    width: 60%;
    margin: auto;
    margin-top: 38vh;
}

.loading {
    display: flex;
    justify-content: center; /* Centers content horizontally */
    margin-top: 14px;
}

.loading-words {
    letter-spacing: 3px;;
}

::ng-deep .p-card-title {
    font-family: 'Lemonmilk';
    letter-spacing: 3px;
    text-align: center;
}
