<div class="questions-container" *ngIf="!isLoading">
    <div class="container">
        <p-card header="Generate a new quiz!" class="card">
            <form [formGroup]="form" (submit)="generateQuiz()">
                <div>
                    <label for="title">Quiz Title</label>
                </div>
                <br>
                <div>
                    <input pInputText style="width:100%" type="text" id="title" placeholder="Enter New Quiz Title" formControlName="quizTitle">
                </div>
                <br>
                <div>
                    <label for="extractedText">Extracted Text</label>
                </div>
                <br>
                <div>
                    <textarea pInputTextarea type="text" id="extractedText" formControlName="extractedText" rows="10"
                        cols="85"></textarea>
                </div>
                <br>

                <!-- <div>
                    <label for="difficulty">Question Type</label>
                </div>
                <br>
                <div>
                    <p-selectButton [options]="qnTypeOptions" formControlName="value" optionLabel="name"
                        optionValue="value" formControlName="questionType"></p-selectButton>
                </div>
                <br> -->

                <div>
                    <label for="difficulty">Difficulty Level</label>
                </div>
                <br>
                <div>
                    <p-selectButton [options]="difficultyOptions" formControlName="value" optionLabel="name"
                        optionValue="value" formControlName="difficulty"></p-selectButton>
                </div>
                <br>

                <div>
                    <label for="difficulty">Language</label>
                </div>
                <br>
                <div>
                    <p-dropdown formControlName="language" [options]="languageOptions" optionLabel="name"
                        optionValue="value" placeholder="Select a Language"></p-dropdown>
                </div>
                <br>

                <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" (onClick)="backButton()"></p-button>
                <p-button type="submit" label="Generate Quiz" icon="pi pi-check" [style]="{ 'float': 'right' }" [loading]="isLoading" [disabled]="form.invalid"></p-button>
            </form>
        </p-card>
    </div>
</div>

<div class="progress-container" *ngIf="isLoading">
    <div>
        <p-progressBar mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar>
        <div class="loading">
            <h2 class="loading-words">Generating Your Quiz... Please Wait! .𖥔 ݁ ˖</h2>
        </div>
    </div>
</div>