h1, h2, h3 {  
    
    font-family: 'Lemonmilk', sans-serif;
}

p  {  
    font-size: 12px; 
    font-family: 'Lemonmilk-light', sans-serif;
}

.content-container {
    margin: 0 10vw;
    position: relative;
    padding-bottom: 35px;
}

.quiz-container {
    margin: 5vw;
}

.quiz-btns {
    margin-right: 10px;
}
