<!-- <div *ngIf="isGoogleAuthSuccessful" class="notif-container">
    <p-messages [(value)]="successMsg" [enableService]="false"></p-messages>
</div>
<div *ngIf="!isGoogleAuthSuccessful && triedAuth" class="notif-container">
    <p-messages [(value)]="failureMsg" [enableService]="false"></p-messages>
</div> -->

<p-toast *ngIf="isGoogleAuthSuccessful && triedAuth" [style]="{'top': '80px'}" position="bottom-left" key="googlecal" (onClose)="routeBack()"></p-toast>

<div class="cal-container">
    <div class="container">
        <p-card header="Schedule a study session with friends!" class="form-font">
            <form [formGroup]="form" (submit)="scheduleStudySession()">
                <br>
                <div>
                    <label for="topic">Meeting Title</label>
                </div>
                <br>
                <div>
                    <input pInputText style="width:100%" type="text" placeholder="Enter Meeting Title"
                        formControlName="meetingTitle">
                    <small *ngIf="form.get('meetingTitle')?.invalid && form.get('meetingTitle')?.dirty"
                        id="username-help" class="p-error">Meeting Title is required</small>
                </div>
                <br>

                <div>
                    <div class="inline-calendars">
                        <div>
                            <label for="topic">Start Date & Time</label>
                        </div>
                        <br>
                        <div (click)="setStartDate()">
                            <p-calendar [minDate]="currentDate()" [showTime]="true" [inline]="true"
                                formControlName="startDatetime" class="start-date-calendar"></p-calendar>
                        </div>
                        <br>
                    </div>


                    <div class="inline-calendars">
                        <div>
                            <label for="topic">End Date & Time</label>
                        </div>
                        <br>
                        <div>
                            <p-calendar [minDate]="formatMinDate()" [showTime]="true" [inline]="true"
                                formControlName="endDatetime"></p-calendar>
                        </div>
                        <br>
                    </div>
                </div>

                <div>
                    <label for="topic">Your Email</label>
                </div>
                <br>
                <div>
                    <input pInputText style="width:100%" type="text" placeholder="Enter Your Email"
                        formControlName="email">
                    <small *ngIf="form.get('email')?.invalid && form.get('email')?.dirty" id="username-help"
                        class="p-error">Invalid Email</small>
                </div>
                <br>

                <div>
                    <label for="topic">Attendee Email</label>
                </div>
                <br>
                <div>
                    <p-chips placeholder="Enter Your Attendees' Email(s)" formControlName="attendee"></p-chips>
                </div>
                <br>
                <button class="schedule-btn" pButton type="submit" [disabled]="form.invalid">Schedule</button>
            </form>
        </p-card>
    </div>
</div>
