<div class="cal-container">
    <div class="container">
        <p-card header="Schedule a study session!">
            <form [formGroup]="form" (submit)="scheduleStudySession()">
                <div>
                    <label for="topic">Meeting Title</label>
                </div>
                <br>
                <div>
                    <input pInputText style="width:100%" type="text" placeholder="Enter Meeting Title"
                        formControlName="meetingTitle">
                </div>
                <br>

                <div>
                    <label for="topic">Start Date & Time</label>
                </div>
                <br>
                <div>
                    <p-calendar [showTime]="true" [showSeconds]="true" [inline]="true"
                        formControlName="datetime"></p-calendar>
                </div>
                <br>

                <div>
                    <label for="duration">Hours</label>
                </div>
                <br>
                <div>
                    <input type="number" name="duration" formControlName="duration">
                </div>
                <br>

                <div>
                    <label for="topic">Your Email</label>
                </div>
                <br>
                <div>
                    <input pInputText style="width:100%" type="text" placeholder="Enter Your Email"
                        formControlName="email">
                </div>
                <br>

                <div>
                    <label for="topic">Attendee Email</label>
                </div>
                <br>
                <div>
                    <p-chips placeholder="Enter Your Attendees' Email(s)"
                        formControlName="attendee"></p-chips>
                </div>
                <br>
                <button pButton type="submit">Schedule</button>
            </form>
        </p-card>
    </div>
</div>
