h1, h3 {  
    font-family: 'Lemonmilk', sans-serif;
}

p  {  
    font-size: 12px; 
    font-family: 'Lemonmilk-light', sans-serif;
}

.container {
    margin: 5%;
}

.content-container {
    margin: 25px;
    position: relative;
}

.cal-container {
    margin: 25px;
    padding-bottom: 35px;
}

.notif-container {
    margin: 25px;
}

.inline-calendars {
    display: inline-block;
}

.start-date-calendar {
    margin-right: 35px;
}

.schedule-btn {
    margin-top: 20px;
    width: 100%;
}

::ng-deep .p-chips {
    display: flow;
}

/* Fixes UI error by Prime */
::ng-deep .p-hidden-accessible {
    display: none;
}

::ng-deep .p-card-title {
    font-family: 'Lemonmilk';
    letter-spacing: 3px;
    text-align: center;
}


