/* .signup-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 20%;
} */

p-card {
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center;
}