<div class="form-container">
    <p-card header="a step closer to your new favourite study tool!">
        <div class="m-0">
            <form [formGroup]="form">
                <div>
                    <label for="username">Username</label>
                </div>
                <div>
                    <input pInputText id="username" type="text" formControlName="username">
                </div>
                <br>
                <div>
                    <label for="email">Email</label>
                </div>
                <div>
                    <input pInputText id="email" type="text" formControlName="email">
                </div>
                <br>
                <div>
                    <label for="password">Password</label>
                </div>
                <div>
                    <input pInputText id="password" type="text" formControlName="password">
                </div>
                <br>
                <div>
                    <label for="confirmPassword">Confirm Password</label>
                </div>
                <div>
                    <input pInputText id="confirmPassword" type="text" formControlName="confirmPassword">
                </div>
                <br>
                <div>
                    <p-button>Sign Up</p-button>
                </div>
            </form>
        </div>
    </p-card>
</div>