<div class="file-upload-container">

    <!-- TOPIC BASED -->
    <div class="container" *ngIf="!isTopicBased">
        <p-card header="Upload">
            <form [formGroup]="form">
                <div>
                    <label for="title">Document Title</label>
                </div>
                <br>
                <div>
                    <input pInputText style="width:100%" type="text" placeholder="Enter Document Title"
                        formControlName="title">
                    <small *ngIf="form.get('title')?.invalid && form.get('title')?.dirty" id="username-help"
                        class="p-error">Document Title is required</small>
                </div>
                <br>
                <div>
                    <label for="title">Upload your PDF text document</label>
                </div>
                <br>
                <p-fileUpload [disabled]="form.invalid" class="file-upload-container" name="documents[]" accept="application/pdf" mode="advanced"
                    chooseStyleClass="p-button-rounded p-button-outlined" [customUpload]="true"
                    (uploadHandler)="uploadFile($event)" #file>
                    <ng-template pTemplate="content" let-files>
                        <div>You can also drag and drop your file here! ₊˚✩⊹</div>
                    </ng-template>
                </p-fileUpload>
            </form>
        </p-card>
    </div>

    <!-- CONTENT BASED -->
    <div class="container" *ngIf="isTopicBased">
        <p-card class="topic-pcard" header="Choose a topic">
            <form [formGroup]="form" (submit)="generateTopicBasedQuiz()">
                <div>
                    <label for="topic">Topic</label>
                </div>
                <br>
                <div>
                    <input pInputText style="width:100%" type="text" placeholder="Enter Topic" formControlName="topic">
                    <small *ngIf="form.get('topic')?.invalid && form.get('topic')?.dirty" id="username-help"
                        class="p-error">Topic is required</small>
                </div>
                <br>
                <button pButton type="submit" [disabled]="form.invalid">Next</button>
            </form>
        </p-card>
    </div>
</div>