<div class="file-upload-container">

    <!-- TOPIC BASED -->
    <div class="container" *ngIf="!isTopicBased">
        <p-card header=".𖥔 ݁ ˖  Upload . 𖥔 ݁ ˖">
            <form [formGroup]="form">
                <br>
                <div>
                    <label for="title">Document Title</label>
                </div>
                <br>
                <div>
                    <input pInputText style="width:100%" type="text" placeholder="Enter Document Title"
                        formControlName="title">
                    <small *ngIf="form.get('title')?.invalid && form.get('title')?.dirty" id="username-help"
                        class="p-error">Document Title is required</small>
                </div>
                <br>
                <div>
                    <label for="title">Upload your PDF text document</label>
                </div>
                <br>
                <p-fileUpload [disabled]="form.invalid" class="file-upload-container" name="documents[]" accept="application/pdf" mode="advanced"
                    chooseStyleClass="p-button-rounded p-button-outlined" [customUpload]="true"
                    (uploadHandler)="uploadFile($event)" #file>
                    <ng-template pTemplate="content" let-files>
                        <div>You can also drag and drop your file here! ₊˚✩⊹</div>
                    </ng-template>
                </p-fileUpload>
            </form>
        </p-card>
    </div>

    <!-- CONTENT BASED -->
    <div class="container" *ngIf="isTopicBased">
        <p-card header=".𖥔 ݁ ˖ Choose a topic .𖥔 ݁ ˖">
            <form [formGroup]="form" (submit)="generateTopicBasedQuiz()">
                <br>
                <div>
                    <label for="topic">Topic Name</label>
                </div>
                <br>
                <div>
                    <input pInputText style="width:100%" type="text" placeholder="Enter Topic" formControlName="topic">
                    <small *ngIf="form.get('topic')?.invalid && form.get('topic')?.dirty" id="username-help"
                        class="p-error">Topic is required</small>
                </div>
                <br>
                <br>
                <p-button  type="submit" [disabled]="form.invalid" [style]="{'width': '100%'}" label="Next"></p-button>
            </form>
        </p-card>
    </div>
</div>