<p-toolbar>
    <div class="p-toolbar-group-start">
        <img width="55vw" style="margin-right: 17px;" src="/assets/images/quizler-logo.png" alt="logo" [routerLink]="['/home']">
        <!-- <button class="button-margin" pButton icon="pi pi-home" [routerLink]="['/home']"></button> -->
        <button class="p-button-rounded p-button-outlined button-margin" pButton icon="pi pi-video" label="Call" [routerLink]="['/videocall']"></button>
        <button class="p-button-rounded p-button-outlined button-margin" pButton icon="pi pi-calendar" label="Calendar" [routerLink]="['/calendar']"></button>
        <p-splitButton styleClass="p-button-rounded p-button-outlined" icon="pi pi-folder-open"  label="New Quiz" [model]="this.items"></p-splitButton>
    </div>
    <div class="p-toolbar-group-end">
        <p-button (onClick)="logout()" label="Logout" icon="pi pi-sign-out"></p-button>
    </div>
</p-toolbar>