<p-toolbar>
    <div class="p-toolbar-group-start">
        <button class="button-margin" pButton icon="pi pi-home" [routerLink]="['/home']"></button>
        <button class="p-button-rounded p-button-outlined button-margin" pButton icon="pi pi-comments" label="Forum" [routerLink]="['/forum']"></button>
        <button class="p-button-rounded p-button-outlined button-margin" pButton icon="pi pi-video" label="Call" [routerLink]="['/videocall']"></button>
        <button class="p-button-rounded p-button-outlined button-margin" pButton icon="pi pi-folder-open" label="Quiz" [routerLink]="['/quiz']"></button>
        <button class="p-button-rounded p-button-outlined" pButton icon="pi pi-calendar" label="Calendar" [routerLink]="['/calendar']"></button>

    </div>
    <div class="p-toolbar-group-center">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText placeholder="Search forum"/>
        </span>
    </div>
    <div class="p-toolbar-group-end">
        <p-button label="Logout" icon="pi pi-sign-out"></p-button>
    </div>
</p-toolbar>