<div class="attempts-container">
    <div class="content-container">
        <h1><span class="title-nugget">Attempts of Quiz: {{quizTitle}}</span><span><button style="float: right;" pButton
                    icon="pi pi-pencil" label="Attempt Quiz" [routerLink]="['/quiz', quizId]"></button></span></h1>
        <br>
        <div class="review-container" *ngIf="attempts$ | async as attempts">
            <p-dataView #dv [value]="attempts" [paginator]="true" [rows]="9" layout="grid"
                emptyMessage="You have not attempted this quiz yet!">

                <ng-template let-docs pTemplate="gridItem">
                    <div class="p-col-12 p-md-4">
                        <div *ngFor="let a of attempts; let j = index">
                            <p-card>
                                <div [style]="{'display': 'inline-flex'}">
                                    <div>
                                        <h3>Attempt #{{j+1}}</h3>
                                        <p>Your Score : {{a.score}}/{{a.answers.length}}</p>
                                        <p>Submitted On : {{a.datetime | date: 'medium'}}</p>
                                        <div>
                                            <button pButton icon="pi pi-eye"
                                                class="md:align-self-end m-2 p-button-rounded quiz-btns" size="small"
                                                label="View Attempt" [routerLink]="['/attempt', a.attemptId]" [style]="{'margin-top': '5vh'}"></button>
                                        </div>
                                    </div>

                                    <div class="card flex justify-content-center" [style]="{'right': '0', 'position': 'absolute'}">
                                        <p-chart  height="200" width="200" type="doughnut"
                                            [data]="data" [options]="options"></p-chart>
                                    </div>

                                </div>


                            </p-card>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>
        </div>
        <br>
        <div>
            <button *ngIf="!!docId" pButton label="Back" icon="pi pi-chevron-left"
                [routerLink]="['/', docId, 'quizzes']"></button>
            <button *ngIf="!docId" pButton label="Back" icon="pi pi-chevron-left" [routerLink]="['/home']"></button>
        </div>
    </div>
</div>